<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type = "type/css" href="{{url_for('static', filename='css/index.css')}}">
    <title>Document</title>
</head>
<body>
    
    <div class="container">
        <h2>SearchIT</h2>
        <form action="http://127.0.0.1:5000/result" id = "form" method = "POST">
            <input type="text" name = "word" id = "word" placeholder="">
            <button id = "search">Search</button>
        </form>
    </div>
</body>
</html>